#a {
  grid-area: a;
}
#b {
  grid-area: b;
}
#c {
  grid-area: c;
}
#d {
  grid-area: d;
}
#e {
  grid-area: e;
}

#grid {
  display: grid;
  grid-template-areas:
    "a a a a"
    "b c d e";
  grid-row-gap: 1rem;
  /* grid-column-gap: 1rem; */
}

/* #grid .center-column {
  padding-inline: 0.2em;
} */

@media (max-width: 512px) {
  #grid {
    grid-template-areas:
      "a a a"
      "b c d"
      "e e e";
  }
}
