@import url("http://fonts.cdnfonts.com/css/gotham");

* {
  box-sizing: border-box;
}

body {
  font-family: "Gotham", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

h1 {
  text-shadow: white 0px 0px 100px;
}

nav a p {
  width: max-content;
  border-radius: 100vmax;
  transition: all 100ms ease-in-out;
}

nav a p:hover {
  background-color: hsla(0, 0%, 50%, 0.25);
  backdrop-filter: blur(5px);
}

footer {
  padding: 2em;
}

.attribution {
  font-family: var(--ff-serif);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  font-family: var(--ff-main);
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

.glass-button {
  border: none;
  border-radius: 100vmax;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 450ms ease-in-out;
}

.glass-button:hover,
.glass-button:focus {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.fa-chevron-down {
  cursor: pointer;
  animation: fa-chevron-down_fade_move_down 3s ease-in-out infinite;
  -moz-animation: fa-chevron-down_fade_move_down 3s ease-in-out infinite;
  -webkit-animation: fa-chevron-down_fade_move_down 3s ease-in-out infinite;
}

@keyframes fa-chevron-down_fade_move_down {
  0% {
    transform: translate(0, -5px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 15px);
    opacity: 0;
  }
}

@-moz-keyframes fa-chevron-down_fade_move_down {
  0% {
    transform: translate(0, -5px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 15px);
    opacity: 0;
  }
}

@-webkit-keyframes fa-chevron-down_fade_move_down {
  0% {
    transform: translate(0, -5px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 15px);
    opacity: 0;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 60vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  padding: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 50vh;
  top: 0;
  right: -60vw;
  margin-top: 0;
  z-index: 150;
  box-shadow: -100px 0 100px -100px rgb(0, 0, 0);
  opacity: 0;
  transition: all 650ms ease-in-out;
}

.nav-list.active {
  right: 0;
  opacity: 1;
}

.close {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.25em;
}

.nav-list li {
  width: 100%;
  border-radius: 100vmax;
  padding: 5px;
  padding-left: 1.5em;
  margin-bottom: 5px;
  transition: all 450ms ease-in-out;
}

.nav-link {
  color: black;
}

.nav-list li:hover {
  background-color: hsla(0, 0%, 50%, 0.25);
  backdrop-filter: blur(5px);
}
/* 
#empty-div {
  padding: 0;
  margin: 0;
  width:  40vw;
  height: 100vh;
  left: -100vw;
  top: 0;
  
  margin-top: 0;
  z-index: 151;
}

#empty-div.active {
  left:  100vw;
  opacity: 1;
}  */
