@import url("http://fonts.cdnfonts.com/css/gotham");

* {
  box-sizing: border-box;
}

body {
  font-family: "Gotham", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

h1 {
  text-shadow: white 0px 0px 100px;
}
nav a p {
  width: max-content;
  transition: all 450ms ease-in-out;
}

nav a p:hover {
  background-color: hsla(0, 0%, 50%, 0.25);
  border-radius: 100vmax;
}

footer {
  padding: 2em;
}

.attribution {
  font-family: var(--ff-serif);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  font-family: var(--ff-main);
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

.glass-button {
  border: none;
  border-radius: 100vmax;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 450ms ease-in-out;
}

.glass-button:hover,
.glass-button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.fa-chevron-down {
  cursor: pointer;
  animation: fa-chevron-down_fade_move_down 3s ease-in-out infinite;
}

@keyframes fa-chevron-down_fade_move_down {
  0% {
    transform: translate(0, -5px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 15px);
    opacity: 0;
  }
}
/* 
.ca3-scroll-down-link {
  position: absolute;
  cursor: pointer;
  height: 20px;
  width: 20px;
  bottom: 5px;
  color: #fff;
  text-align: center;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}
@-moz-keyframes ca3_fade_move_down {
  0% {
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
}
@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
} */
